<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>VueJsTests</title>
</head>
<body>
	<h2>VueJs скомпилирован и подключен в Home.</h2>
	<p>
		Проект для тестов компонентов используемых во VueJs на
		возможность работы с большим количеством данных.
		Генератор данных в контроллере.
	</p>

	<div id="app"></div>
	<script src="~/scripts/VueJsClient/build.js"></script>
</body>
</html>