<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>VueJsTests</title>
</head>
<body>
	<p>Проект показывается тесты компонентов используемых во VueJs на 
	возможность работы с большим количеством данных. Какова производительность?</p>

	<div id="app"></div>
	<script src="~/scripts/dist/build.js"></script>
</body>
</html>